<div class="container center">
        <div class="column">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Passager, covoiturez !</h4>
                <p>Votre inscription a bien été prise en compte.</p>
                <hr>
                <button href="/home" type="button" class="btn btn-warning">Se connecter</button>
            </div>
        </div>
    </div>