<h4><%= title %></h4>
<div>
    <div>
        <form action="/inscription-users" method="post">
            <div class="form-group">
                <label class="control-label">Nom</label>
                <br>
                <input class="control-label" type="string" name="cl_nom">
            </div>
            <div>
                <label class="control-label">Prénom</label>
                <br>
                <input class="control-label" type="string" name="cl_prenom">
            </div>
            <div class="form-group">
                <label class="control-label">N° Portable</label>
                <br>
                <input class="control-label" type="string" name="cl_portable">
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <br>
                <input class="control-label" type="string" name="cl_mail">
            </div>
            <div class="form-group">
                <label class="control-label">mot de passe</label>
                <br>
                <input class="control-label" type="password" name="cl_mdp">
            </div>
            <div class="form-group">
                <label class="control-label">Confirmation mot de passe</label>
                <br>
                <input class="control-label" type="password">
            </div>
    </div>
    <div>
        
        <input type="submit" class="btn btn-primary" value="Envoyer">
    </div>
    </form>
</div>