doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')  
    link(href='stylesheats/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheats/scrolling-nav.css', rel='stylesheet')
  body
    block content
